
<div class="container">
  <h1>CREAR PROYECTO</h1>

  <%= form_for :proyecto,url: proyectos_path do  |f| %>
    <p>
      <%= f.label :nombre_de_proyecto %><br>
      <%= f.text_field :nombre %>
    </p>

    <p>
      <%= f.label :alcance %><br>
      <%= f.text_field :alcance %>
    </p>

    <p>
      <%= f.label :descripcion %><br>
      <%= f.text_area :descripcion %>
    </p>

    <p>
      <%= f.label :unidades %><br>
      <%= f.number_field :unidades %>
    </p>

    <p>
      <%= f.select :tipo, ["Proyecto Integrador I","Proyecto Integrador II","Proyecto Integrador", "Proyecto Semana i", "Proyecto Semestre i", "Proyecto de Curso", "Proyecto No Academico"] %>
    </p>

    <div class="field">
      <%= f.label "Atributos" %><br />
      <%= f.collection_check_boxes :atributo_ids, Atributo.all, :id, :nombre do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
      <% end %>
    </div>

    <div>
      <%= f.label :image, "Imagen Promocional" %><br>
      <%= f.file_field :image %>
    </div>
    <br>
    <div>
      <%=f.submit "Crear Proyecto", :class => 'btn btn-success'%>
    </div>
  <% end %>

</div>
