<div class="container">
  <p>
    <strong>Nombre de Proyecto:</strong>
    <%= @proyecto.nombre %>
  </p>

  <%= image_tag @proyecto.image_url, width: '50%', height: '50%'%>

  <p>
    <strong>Tipo de Proyecto:</strong>
    <%= @proyecto.tipo%>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= @proyecto.descripcion %>
  </p>

  <p>
    <strong>Alcance:</strong>
    <%= @proyecto.alcance %>
  </p>

  <h2>Estudiantes:</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Matricula</th>
        <th>Correo</th>
        <th>Carrera</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @proyecto.estudiantes.each do |estudiante| %>
        <tr>
          <td><%= estudiante.nombre %></td>
          <td><%= estudiante.apellido %></td>
          <td><%= estudiante.matricula %></td>
          <td><%= estudiante.email %></td>
          <td><%= estudiante.carrera %></td>
          <td><%= link_to 'Edit', edit_proyecto_estudiante_path(@proyecto, estudiante) %></td>
          <td><%= link_to 'Destroy', proyecto_estudiante_path(@proyecto, estudiante), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


  <%= link_to 'Regresar', proyectos_path, :class => "btn btn-info" %>


</div>
