<p>
  <strong>Nombre de Proyecto:</strong>
  <%= @proyecto.nombre %>
</p>

<%= image_tag @proyecto.image_url, width: '20%', height: '20%'%>

<p>
  <strong>Tipo de Proyecto:</strong>
  <%= @proyecto.tipo%>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @proyecto.descripcion %>
</p>

<p>
  <strong>Alcance:</strong>
  <%= @proyecto.alcance %>
</p>
